@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Roobert";
	src:
		url("/fonts/Roobert.woff2") format("woff2"),
		url("/fonts/Roobert.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--primary: #ffb217;
}

body {
	font-family: "Roobert", sans-serif;
}

::-moz-selection {
	/* Code for Firefox */
	background: var(--primary);
}

::selection {
	background: var(--primary);
}

@layer utilities {
	@media (min-width: 2000px) {
		html {
			font-size: 130%;
		}
	}
}

@layer base {
	.font-geist {
		letter-spacing: 0.05em;
	}
	h1 {
		@apply text-[48px] font-medium leading-[60px] lg:text-[58px] lg:leading-[72.5px];
	}
	:root {
		--radius: 0.5rem;
	}

	input:focus,
	textarea:focus {
		outline: none;
		border-color: transparent;
		box-shadow: none;
	}

	input[type="email"]:focus {
		outline: none;
		border-color: transparent;
	}
}
